
#gornypasek
{
	text-align:center;
	border-bottom:4px solid#b1b19b;


}
#logo
{
	max-height: 50px;
	
}
.rejestracja
{
	
	height: 50px;
	padding-top: 10px;
}
.rejestracja:hover
{
	background-image:linear-gradient(#fffff5 , #b1b19b 150%);
}
.blad
{
	color: red;
	display: none;
}