
.blad
{
	color: red;
	display: none;
}

.przybornik
{

	background-color: #0b0c0b;
	min-height:50px;
	color:#FFFFFF;
	font-size: 25px;
}
.opcja:hover
{
color: red;
}
#logo
{
	max-height: 50px;
}
.komunikat
{

	display: block;
	position: fixed;
	background-color: rgb(243, 245, 247);
	color: rgb(0, 218, 54);
	top: 0;
	right: 0;
	left: 0;
	z-index: 1050;
	max-width: 800px;
	margin: 100px auto;
	height:auto;
	background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
}
.zamykanie_przycisk
{
	font-size: 40px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	background: 0 0;
    border: 0;
}
.klient
{
margin:10px;
text-align: center;
border:3px solid #0e0d0d;
border-radius:15px;
font-size: 30px;
}
.dodawanie_klienta_input
{
border : none;
border-bottom: rgba(15, 15, 15, 0.774) solid 1px;
margin-left: 15px;
padding: 5px;
width: 80%;
box-shadow: none;
font-size: 20px;
}
#dodawanie_klienta_kontener
{
	background-color:white;
	margin:20px 0px;
	min-height: 90vh;
	padding: 20px 15px;
	padding-top: 40px;
	
}

.dodawanie_klienta_input:focus {
	outline      : none;
}

.dodawanie_klienta_input_add
{
	border : none;
	border-bottom: rgba(15, 15, 15, 0.774) solid 1px;
	padding: 5px;
	box-shadow: none;
	font-size: 20px;
}
.dodawanie_klienta_input_kasa
{
	border : none;
	border-bottom: rgba(15, 15, 15, 0.774) solid 1px;
	margin-left: 15px;
	padding: 5px;
	width: 35%;
	box-shadow: none;
	font-size: 20px;
}